/* Neue Haas Grotesk Display Pro — self-hosted brand font.
   Licensed to Zib Digital. */

@font-face {
  font-family: "neue-haas-grotesk-display";
  src: url("/assets/fonts/NeueHaasDisplayRoman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "neue-haas-grotesk-display";
  src: url("/assets/fonts/NeueHaasDisplayRomanItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "neue-haas-grotesk-display";
  src: url("/assets/fonts/NeueHaasDisplayMediu.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "neue-haas-grotesk-display";
  src: url("/assets/fonts/NeueHaasDisplayMediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
